.DownCon {
    height: 100vh;
    width: 100vw;
    padding: 80px;
}

.DownUnfakeBg {
    flex-direction: column;
    justify-items: center;
}

.UnfakeLogo {
    margin: 25px 0px 10px 0px;
    width: 600px;
    height: 450px;
    object-fit: cover;
    object-position: center;

}

.UnfakeDes {
    font-family: "Poppins";
    font-weight: 100;
    font-size: 23px;
    width: 900px;
    text-align: center;
}

.DownloadBtn {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin: 20px;
    font-family: "Play";
    font-size: 40px;
    border: 1.5px solid rgba(255, 255, 255, 0.6);
    color: white;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
    width: 450px;
    cursor: pointer;
}

.DownloadBtn:hover, .DownNextBtn:hover, .DownPrevBtn:hover {
    background-color: rgb(8, 62, 209);
    border: 1px solid rgba(102, 138, 237, 0.3);
}

.ToUserGuide {
    display: flex;
    margin-top: 10px;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: lighter;
    gap: 5px;
    justify-items: center;
    align-items: baseline;
    padding: 5px;
}

.HereBtn {
    background-color: transparent;
    border: none;
    font-family: "play";
    color: rgb(255, 115, 71);
    font-size: 18px;
}

.HereBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.UserGuideCon { 
    margin: 100px 30px;
    padding: 40px 70px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: 200px solid rgb(0, 0, 0, 0.6);
}

.Title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 10px;
}

.chromeEx {
    color: rgb(255, 115, 71);
    text-decoration: none;
}

.copyBtn {
    background-color: transparent;
    padding: 5px;
    font-family: "Play";
    border: none;
    color: rgb(255, 115, 71);
    border-radius: 50px;
    transition: 0.2s ease-in-out;
    width: 100px;
    cursor: pointer;
}

.copyBtn:hover {
    color: rgb(139, 149, 255);
}

/* 0 */
.GuideImage0a{
    height: 150px;
    width: 380px;
    margin: 40px 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.3);;
}

.GuideImage0b{
    height: 150px;
    width: 300px;
    margin: 40px 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.3);;
}

.Pics {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 1 */
.GuideImage1a {
    height: 300px;
    width: 280px;
    margin: 40px 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.3);;
}

.GuideImage1b {
    height: 300px;
    width: 550px;
    margin: 40px 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.3);
}

/* 2 */
.GuideImage2a{
    height: 230px;
    width: 315px;
    margin: 40px 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.3);
}

.GuideImage2c {
    height: 230px;
    width: 270px;
    margin: 40px 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.3);
}

/* 3 */
.GuideImage3a, .GuideImage3b{
    height: 200px;
    width: 470px;
    margin: 40px 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.3);
}

.GuideImage3c {
    height: 150px;
    width: 400px;
    margin: 40px 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.3);
}

.GuideImage3d {
    height: 150px;
    width: 400px;
    margin: 40px 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.3);
}

.GuideImage3e {
    height: 200px;
    width: 380px;
    margin: 40px 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.3);
}

.GuideImage4 {
    height: 200px;
    width: 650px;
    margin: 40px 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.3);
}

.GuideImage5 {
    height: 300px;
    width: 350px;
    margin: 40px 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.3);
}

.DownNextBtn, .DownPrevBtn {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin: 10px;
    font-family: "Play";
    font-size: 16px;
    border: 1.5px solid rgba(255, 255, 255, 0.6);
    color: white;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
    width: 250px;
    cursor: pointer;
}

.UserGuideNav {
    color: white;
    align-items: center;
    text-align: center;
}

.StepCounter {
    margin: 0px 20px;
}

.FCGArtSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.AllArts {
    display: flex;
    margin: 30px 0px;
    justify-items: center;
    align-items: center;
}

.Article {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 330px;
    height: 470px;
    justify-items: center;
    align-items: center;
    margin: 0px 10px 10px 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.FNPic {
    width: 300px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
    border-radius: 10px;
}

.ArtT {
    display: inline-block;
    padding: 15px 0px;
    font-size: 25px;
    text-align: justify;
    margin-bottom: auto;
    width: 100%;
}

.ArtP {
    width: 300px;
    padding-bottom: 20px;
    display: inline-block;
    margin: auto;
    align-items: center;
    color: rgb(255, 255, 255, 0.65);
    text-align: left;
}

.Art {
    display: inline-block;
    margin-top: auto;
    color: rgb(255, 115, 71);
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    margin-bottom: 10px;
}

.Art:hover {
    text-decoration: underline;
}
